@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	text-align:center;
	font-family:'Source Sans Pro',sans-serif;
}
div.container {
	margin:0px 30%;
	text-align:left;
}

li {
	background-color:#cceeff;
	padding:10px;
	margin-bottom:500px;
	font-size:24pt;
}

.ld-test-container {
	right:30px;
	top:50%;
	background-color:#dddddd;
	width:100px;
}

ul { list-style-type: none;}